<%# app/views/quotes/edit.html.erb %>
<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>

  <div class="header">
    <h1>Edit quote</h1>
  </div>

  <%= turbo_frame_tag @quote do %> <%# ✨ NUEVO: Envuelve el formulario con un frame del ID de la cita. %>
    <%= render "form", quote: @quote %>
  <% end %>
</main>