<%# app/views/quotes/index.html.erb %>

<%= turbo_stream_from "quotes" %> <%# ✨ ¡NUEVO y CLAVE! Esta línea hace que la página escuche los cambios del canal "quotes". %>

<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <turbo-frame id="new_quote">
      <%= link_to "New quote",
                  new_quote_path,
                  class: "btn btn--primary",
                  data: { turbo_frame: dom_id(Quote.new) } %>
    </turbo-frame>
  </div>

  <%= turbo_frame_tag Quote.new %>

  <turbo-frame id="quotes">
    <%= render @quotes %>
  </turbo-frame>
</main>